<div class="page-header">
  <h1>Opinions</h1>
</div>
<%= form_tag("update_opinions", :method => "post") do  %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Restaurant</th>
            <th>Opinion</th>
      </tr>
    </thead>

    <tbody>
        <% @opinions.each do |opinion| %>
            <tr>
              <td><%= opinion.restaurant.name %></td>
              <td>
                <%= select_tag "opinions[#{opinion.id}][like]", options_from_collection_for_select([[nil, nil], ['Like', 1], ['Meh', 0], ['Dislike', -1]], :last, :first, opinion.like) %>
              </td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>
<%= submit_tag "Save", :class => "btn btn-primary" %>
<br/>
<br/>
<br/>
<% end %>

