<div class='home'>

  <h1>Let's Eat!</h1>  
  <br/>

<%= link_to new_overview_path, :class => 'btn btn-lg btn-primary' do %>
  <span class="glyphicon glyphicon-cutlery"></span>
  Safe Choice
<% end %>

<%= link_to new_overview_path, :class => 'btn btn-lg btn-warning' do %>
  <span class="glyphicon glyphicon-question-sign"></span>
  Adventurous
<% end %>
<br/>
<br/>
<br/>

You're going to...
<br/>

<h1>Del Alma</h1>
<br/>

<%= link_to new_overview_path, :class => 'btn btn-info' do %>
  <span class="glyphicon glyphicon-info-sign"></span>
  Need Directions?
<% end %>
</div>