<div class="page-header">
  <h1>Settings</h1>
</div>

<div id='picture'>

<%= image_tag('https://scontent-a-sea.xx.fbcdn.net/hphotos-ash2/t1.0-9/554110_603821889660417_2091454873_n.jpg') %>

<%= link_to users_path, :class => 'btn btn-default' do %>
  <span class="glyphicon glyphicon-camera"></span>
  Take another photo
<% end %>

</div>

<br/>

<%= link_to users_path, :class => 'btn btn-primary' do %>
  <span class="glyphicon"></span>
  Save
<% end %>

