<div class="page-header">
  <%= link_to restaurants_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  <% end %>
  <h1>Directions</h1>
</div>


<h2>Destination</h2>
Del Alma

<h2>Address</h2>
136 SW Washington Ave

<h2>Steps</h2>
<ol>
<li>Head north on NW Estaview Dr toward NW Lantana Dr (203 ft)</li>
<li>Take the 1st right onto NW Lantana Dr (0.3 mi)</li>
<li>Turn left onto NW Circle Blvd (0.7 mi)</li>
<li>Turn right onto NW Kings Blvd (1.1 mi)</li>
<li>Continue onto NW Van Buren Ave (0.9 mi)</li>
<li>Turn right onto NW 1st St (0.4 mi)</li>
<li>NW 1st St turns slightly right and becomes SW Washington Av (66 ft)</li>
<li>Destination is on your left</li>
</ol>